<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>isExpandable</key>
			<integer>1</integer>
			<key>isExpanded</key>
			<integer>0</integer>
			<key>isVisible</key>
			<integer>1</integer>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Happy</string>
			<key>secondaryTitle</key>
			<string>Fullname</string>
			<key>cellIdentifier</key>
			<string>Happy</string>
			<key>additionalRows</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<integer>1</integer>
			<key>isExpanded</key>
			<integer>0</integer>
			<key>isVisible</key>
			<integer>0</integer>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Firstname</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>secondLevelCell</string>
			<key>additionalRows</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<integer>0</integer>
			<key>isExpanded</key>
			<integer>0</integer>
			<key>isVisible</key>
			<integer>0</integer>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Lastname</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>thirdLevelCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<integer>1</integer>
			<key>isExpanded</key>
			<integer>0</integer>
			<key>isVisible</key>
			<integer>1</integer>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Sad</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>Sad</string>
			<key>additionalRows</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<integer>1</integer>
			<key>isExpanded</key>
			<integer>0</integer>
			<key>isVisible</key>
			<integer>1</integer>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Disgusted</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>Disgusted</string>
			<key>additionalRows</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<integer>1</integer>
			<key>isExpanded</key>
			<integer>0</integer>
			<key>isVisible</key>
			<integer>1</integer>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Angry</string>
			<key>secondaryTitle</key>
			<string>Marital Status</string>
			<key>cellIdentifier</key>
			<string>Angry</string>
			<key>additionalRows</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<integer>1</integer>
			<key>isExpanded</key>
			<integer>0</integer>
			<key>isVisible</key>
			<integer>1</integer>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Fearful</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>Fearful</string>
			<key>additionalRows</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<integer>1</integer>
			<key>isExpanded</key>
			<integer>0</integer>
			<key>isVisible</key>
			<integer>1</integer>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Bad</string>
			<key>seondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>Bad</string>
			<key>additionalRows</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<integer>1</integer>
			<key>isExpanded</key>
			<integer>0</integer>
			<key>isVisible</key>
			<integer>1</integer>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Suprised</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>Suprised</string>
			<key>additionalRows</key>
			<integer>4</integer>
		</dict>
	</array>
</array>
</plist>
