<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TopFeelings</key>
	<array>
		<string>Happy</string>
		<string>Sad</string>
		<string>Disgusted</string>
		<string>Angry</string>
		<string>Fearful</string>
		<string>Bad</string>
		<string>Suprised</string>
	</array>
	<key>Happy</key>
	<array>
		<string>Playful</string>
		<string>Content</string>
		<string>Interested</string>
		<string>Proud</string>
		<string>Accepted</string>
		<string>Powerful</string>
		<string>Peacful</string>
		<string>Trusting</string>
		<string>Optimistic</string>
	</array>
	<key>Playful</key>
	<array>
		<string>Cheeky</string>
		<string>Aroused</string>
	</array>
	<key>Content</key>
	<array>
		<string>Free</string>
		<string>Joyful</string>
	</array>
	<key>Interested</key>
	<array>
		<string>Curious</string>
		<string>Inquisitive</string>
	</array>
	<key>Proud</key>
	<array>
		<string>Successful</string>
		<string>Confident</string>
	</array>
	<key>Accepted</key>
	<array>
		<string>Respected</string>
		<string>Valued</string>
	</array>
	<key>Powerful</key>
	<array>
		<string>Courageous</string>
		<string>Creative</string>
	</array>
	<key>Peacful</key>
	<array>
		<string>Thankful</string>
		<string>Loving</string>
	</array>
	<key>Trusting</key>
	<array>
		<string>Sensitive</string>
		<string>Intimate</string>
	</array>
	<key>Optimistic</key>
	<array>
		<string>Hopeful</string>
		<string>Inspired</string>
	</array>
	<key>Sad</key>
	<array>
		<string>Lonely</string>
		<string>Vulnerable</string>
		<string>Despair</string>
		<string>Guilty</string>
		<string>Depressed</string>
		<string>Hurt</string>
	</array>
	<key>Lonely</key>
	<array>
		<string>Isolated</string>
		<string>Abandoned</string>
	</array>
	<key>Despair</key>
	<array>
		<string>Victimized</string>
		<string>Fragile</string>
	</array>
	<key>Vulnerable</key>
	<array>
		<string>Grief</string>
		<string>Powerless</string>
	</array>
	<key>Guilty</key>
	<array>
		<string>Ashamed</string>
		<string>Remorseful</string>
	</array>
	<key>Depressed</key>
	<array>
		<string>Empty</string>
		<string>Inferior</string>
	</array>
	<key>Hurt</key>
	<array>
		<string>Disappointed</string>
		<string>Embarassed</string>
	</array>
	<key>Disgusted</key>
	<array>
		<string>Disaproving</string>
		<string>Disappointed</string>
		<string>Awful</string>
		<string>Repelled</string>
	</array>
	<key>Repelled</key>
	<array>
		<string>Horrified</string>
		<string>Hesitant</string>
	</array>
	<key>Awful</key>
	<array>
		<string>Nauseated</string>
		<string>Detestable</string>
	</array>
	<key>Disappointed</key>
	<array>
		<string>Revolted</string>
		<string>Appalled</string>
	</array>
	<key>Disaproving</key>
	<array>
		<string>Embarassed</string>
		<string>Judgmental</string>
	</array>
	<key>Angry</key>
	<array>
		<string>Let Down</string>
		<string>Humiliated</string>
		<string>Bitter</string>
		<string>Mad</string>
		<string>Aggressive</string>
		<string>Frustrated</string>
		<string>Distant</string>
		<string>Critical</string>
	</array>
	<key>Let Down</key>
	<array>
		<string>Betrayed</string>
		<string>Resentful</string>
	</array>
	<key>Humiliated</key>
	<array>
		<string>Disrespected</string>
		<string>Ridiculed</string>
	</array>
	<key>Bitter</key>
	<array>
		<string>Indignant</string>
		<string>Violated</string>
	</array>
	<key>Mad</key>
	<array>
		<string>Furious</string>
		<string>Jealous</string>
	</array>
	<key>Aggressive</key>
	<array>
		<string>Provoked</string>
		<string>Hostile</string>
	</array>
	<key>Frustrated</key>
	<array>
		<string>Infuriated</string>
		<string>Annoyed</string>
	</array>
	<key>Distant</key>
	<array>
		<string>Withdrawn</string>
		<string>Numb</string>
	</array>
	<key>Critical</key>
	<array>
		<string>Sceptical</string>
		<string>Dismissive</string>
	</array>
	<key>Fearful</key>
	<array>
		<string>Scared</string>
		<string>Anxious</string>
		<string>Insecure</string>
		<string>Weak</string>
		<string>Rejected</string>
		<string>Threatened</string>
	</array>
	<key>Scared</key>
	<array>
		<string>Helpless</string>
		<string>Frightened</string>
	</array>
	<key>Anxious</key>
	<array>
		<string>Overwhelmed</string>
		<string>Worried</string>
	</array>
	<key>Insecure</key>
	<array>
		<string>Inadequate</string>
		<string>Inferior</string>
	</array>
	<key>Weak</key>
	<array>
		<string>Insignificant</string>
		<string>Worthless</string>
	</array>
	<key>Rejected</key>
	<array>
		<string>Presecuted</string>
		<string>Excluded</string>
	</array>
	<key>Threatened</key>
	<array>
		<string>Nervous</string>
		<string>Exposed</string>
	</array>
	<key>Bad</key>
	<array>
		<string>Bored</string>
		<string>Busy</string>
		<string>Stressed</string>
		<string>Tired</string>
	</array>
	<key>Bored</key>
	<array>
		<string>Indifferent</string>
		<string>Apathetic</string>
	</array>
	<key>Busy</key>
	<array>
		<string>Pressured</string>
		<string>Rushed</string>
	</array>
	<key>Stressed</key>
	<array>
		<string>Overwhelmed</string>
		<string>Out Of Control</string>
	</array>
	<key>Tired</key>
	<array>
		<string>Sleepy</string>
		<string>Unfocused</string>
	</array>
	<key>Suprised</key>
	<array>
		<string>Startled</string>
		<string>Confused</string>
		<string>Amazed</string>
		<string>Excited</string>
	</array>
	<key>Startled</key>
	<array>
		<string>Shocked</string>
		<string>Dismayed</string>
	</array>
	<key>Confused</key>
	<array>
		<string>Disillusioned</string>
		<string>Perplexed</string>
	</array>
	<key>Amazed</key>
	<array>
		<string>Awe</string>
		<string>Astonished</string>
	</array>
	<key>Excited</key>
	<array>
		<string>Eager</string>
		<string>Energetic</string>
	</array>
</dict>
</plist>
